/* roboto-100normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url('roboto-latin-100.947c88a4.woff2') format('woff2'), 
    url('roboto-latin-100.0e6f3fb4.woff') format('woff'); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url('roboto-latin-100italic.59a244d9.woff2') format('woff2'), 
    url('roboto-latin-100italic.778d6d40.woff') format('woff'); /* Modern Browsers */
}

/* roboto-300normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url('roboto-latin-300.310750a4.woff2') format('woff2'), 
    url('roboto-latin-300.11791a0d.woff') format('woff'); /* Modern Browsers */
}

/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url('roboto-latin-300italic.4b68976c.woff2') format('woff2'), 
    url('roboto-latin-300italic.d41140c4.woff') format('woff'); /* Modern Browsers */
}

/* roboto-400normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('roboto-latin-400.d15dabb7.woff2') format('woff2'), 
    url('roboto-latin-400.4c1489d3.woff') format('woff'); /* Modern Browsers */
}

/* roboto-400italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url('roboto-latin-400italic.cec4ff41.woff2') format('woff2'), 
    url('roboto-latin-400italic.cb8439fc.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('roboto-latin-500.ce74dd03.woff2') format('woff2'), 
    url('roboto-latin-500.236824b9.woff') format('woff'); /* Modern Browsers */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url('roboto-latin-500italic.24b1962b.woff2') format('woff2'), 
    url('roboto-latin-500italic.0f00b339.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url('roboto-latin-700.34d5f4c8.woff2') format('woff2'), 
    url('roboto-latin-700.8a2b24dd.woff') format('woff'); /* Modern Browsers */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url('roboto-latin-700italic.2b4a02d4.woff2') format('woff2'), 
    url('roboto-latin-700italic.3349bc47.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900normal - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url('roboto-latin-900.068003be.woff2') format('woff2'), 
    url('roboto-latin-900.7ca6bd83.woff') format('woff'); /* Modern Browsers */
}

/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url('roboto-latin-900italic.4f1b1357.woff2') format('woff2'), 
    url('roboto-latin-900italic.76aa72c1.woff') format('woff'); /* Modern Browsers */
}

